<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <img
    src="img/SE-GitHub-image.png"
    alt="Huskie Code Logo"
    width="100"
    height="100"
  />
  <h1>Employability Competencies Journal</h1>

  <div>
    <label>Date <input type="date" class="date" /></label>
    <fieldset>
      <legend>Employability Competencies</legend>

      <% for(let competency of comps) { %>
      <label
        ><input
          type="radio"
          class="competency"
          name="competency"
          value="<%= competency %>"
        />
        <%= competency %>
      </label>
      <% } %>
    </fieldset>
    <label
      >Journal Entry <textarea class="content">my journal entry</textarea>
    </label>
    <input type="submit" class="submit" value="Submit" />
  </div>
</main>

<!-- /Main Site -->

<script src="/js/createEntry.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
