<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <img
    src="img/SE-GitHub-image.png"
    alt="Huskie Code Logo"
    width="100"
    height="100"
  />
  <h1>Employability Competencies Journal</h1>
  <button class="createEntry">Create Entry</button>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
